.Fish {
    display: flex;
    padding: 10px;
    /* position: absolute; */
}

.Fish .body {
    border-radius: 125% 100% 125% 100%;
    -webkit-border-radius: 125% 100% 125% 100%;
    -moz-border-radius: 125% 100% 125% 100%;
    -ms-border-radius: 125% 100% 125% 100%;
    -o-border-radius: 125% 100% 125% 100%;
}

.Fish .tail {
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}