.Fish {
    display: flex;
    padding: 10px;
}

.Fish .body {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 120px;
    height: 30px;
    background-color: silver;
}

.Fish .tail {
    width: 30px;
    height: 30px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    background: linear-gradient(45deg, aquamarine 0%, aquamarine 50%, silver 50%, silver 100%);
}